<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <environment include="Development">

        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/scss/style.css" />
    </environment>



</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        <partial name="_Header" />
        <partial name="_CookieConsentPartial" />
        <div class="app-main">
            <partial name="_LeftMenu" />
            <!--Start Body-->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    @RenderBody()
                </div>
                <partial name="_Fooder" />
            </div>
            <!-- End Start Body-->
        </div>
    </div>
    <environment include="Development">

        <script src="~/js/main.js"></script>

    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
